

.thumbnail{
  
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  background-position: center center;
  background-size: 100% 100%;
  transition: background-size 100ms;
  border-radius: 5px;

  &:hover{
    background-size: 105% 105%;
  }

  &:active{
    background-size: 100% 100%;
  }

  & > span.isLive{
    position: absolute;
    bottom: 8px;
    left: 8px;
    padding: 2px 8px;
    background-color: rgb(240, 0, 0);
    color: rgb(228, 228, 228);
    border-radius: 3px;
  }

  outline-offset: 5px;
  &:has(.thumbnailButton:focus){
    outline: 2px solid rgba(255, 80, 80, 0.5);
  }

  button{
    position: absolute;

    &.thumbnailButton{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &.bookmarkButton{
      bottom: 5px;
      right: 5px;
      padding: 2px;
      border-radius: 3px;
      color: rgb(228, 228, 228);

      & svg{
        width: 34px;
        height: 34px;
      }

      &:hover, &:focus{
        background: rgba(255,255,255,0.5);
        color: var(--button-hover);
      }

      &.on{
        background: var(--button-hover);
        &:hover, &:focus{
          background: white;
        }
      }

      &:active{
        color: var(--button-active);
      }
    }

    &.removeBookmark{
      bottom: unset;
      top: 5px;
    }
  }
}