

.bookmarks{

  position: relative;

  .header{
    background-color: rgb(223, 19, 19);
    color: white;
    border-bottom: 1px solid #333;
    position: sticky;
    top:0;
    left:0;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1rem;
    padding: 0rem 1rem;

    h2{
      padding: 1rem 0rem;
    }
  
    button{
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 1rem 0rem;

      span{
        border-radius: 5px;
        padding: 0.2rem 0.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        outline: 1px solid rgba(255,255,255,0.5);
      }

      &:hover{
        span{
          outline: 1px solid rgba(255,255,255,0.7);
        }
      }
  
      &:active{
        opacity: 0.7;
      }
    }
  }

  .newBookmark{
    position: absolute;
    top: 57px;
    left: 0;
    padding: 1rem 2rem;
    border-bottom: 1px solid #333;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;

    &>p{
      margin-bottom: 1rem;
    }

    &>div{
      position: relative;
      padding-top: 1rem;
      display: flex;
      justify-content: space-between;
      z-index: 2;

      button{
        border: 1px solid #333;
        border-radius: 5px;
        padding: .3rem .8rem;
        
        &.newBookmarkConfirm{
          background-color: rgb(233, 25, 25);
        }

        &.newBookmarkConfirm:hover{
          background-color: rgb(229, 68, 68);
        }

        &.newBookmarkConfirm:active{
          background-color: rgb(197, 36, 36);
        }
  
        &.newBookmarkCancel:hover{
          background-color: #333;
        }

        &.newBookmarkCancel:active{
          background-color: #222;
        }
      }


    }
  }

  .result{
    max-height: calc(80vh - 67px - 57px);
    @media (min-width: 600px){
      max-height: calc(100vh - 67px - 57px);
    }
  }
}