@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

.loader {
  padding: 0 0;
  color: #bbbbbb;
  text-align: center;

  -webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;

  span:first-of-type{
    margin-left: 3px;
  }

  .dots{
    display: inline-block;
    margin-left: 2px;
    width: 2px;
    height: 2px;
    background-color: #bbbbbb;
  }
}