/* HTML: <div class="loader"></div> */
@-webkit-keyframes l3 {to{transform: rotate(1turn)}}

.search-loader {
  width: 21px;
  padding: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ff006f;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  -webkit-animation: l3 1s infinite linear;
}