
.result{

  display: grid;
  padding: 13px;
  gap: 13px;
  grid-template-columns: 1fr;

  overflow: auto;
  max-height: calc(80vh - 57px);
  position: relative;

  @media (min-width: 600px){
    max-height: calc(100vh - 57px);
  }

  @media (min-width: 800px){
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1000px){
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1600px){
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}

.component{

  --button-hover: rgb(230, 34, 99);
  --button-active: rgb(168, 26, 74);

  grid-area: panel;
  border-left: 1px solid #333;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;

  .topbar{

    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: #222;
    border-bottom: 1px solid #333;

    form{
      display: grid;
      grid-template-columns: 1fr auto;

      & > div{

        padding: 8px;
        padding-right: 0px;

        input{
          border: 0;
          background-color: #333;
          width: 100%;
          border-radius: 5px;
          padding: 8px 13px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          outline: 1px solid transparent;
          color: #a8a8a8;

          &:focus{
            outline: 1px solid #444;
            color: var(--color);
          }
        }

      }

    }

    .searchLoader{
      width: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      /* background-color: aqua; */
    }


    button{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 1rem;

      @media(min-width: 1921px){
        padding: 0px 2rem;
      }
      /* border-left: 1px solid #444; */

      &:hover{
        color: var(--button-hover);
      }

      &:active{
        color: var(--button-active);
      }

      &.active{
        color: var(--button-hover);
      }

      &.search{
        & svg{
          position: relative;
          left: 5px;
        }
      }

      &.bookmark{
        & svg{
          position: relative;
          left: -8px;
        }
      }

      &.refreshButton{
        & svg{
          width: 28px;
          height: 28px;
        }
      }
    }

  }

  .content{

    position: relative;

  }

}

.loader{
  grid-column-start: 1;
  grid-column-end: -1;

}

.error{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.3rem;
  text-align: center;
  color: #ffffff;
  background-color: rgb(255, 0, 85);
}